<h1>Where2Eat Krakow</h1>
 <div id="restaurants">
 	<h2>
 		AVERAGE EVALUATION DIFFERENCE:
 		<br>
 		<%= @avg_evaluation %>
 	</h2>
	<div id="evaluation_container">		
		<%= render partial:"evaluation_listing"  %>
	</div>
</div>
